* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  font-size: 2rem;
}


/* list styles */
/* ul {
  list-style-type: disc;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding: 1rem;
}
 */

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}


h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}




/* TABLE STYLES */

tbody td, tfoot td {
  border: 1px solid lightgray;
}

table {
  margin: 1rem;
  background-color: beige;
}
td, th {
  padding: .5rem;
}
thead th {
  font-weight: bold;

}

#salesLists {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(40, 147, 240)
}

p, aside li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(80, 240, 17);
}

footer {
  height: 7rem;
}

fieldset {
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 500px;
  margin: auto;
  background-color: beige;
}

h1,h2,h3 {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
}

#scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  height: 200px;
  width: 300px;
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

article p {
  width: 300px;
}
